 .select {
  background-color: transparent;
  color: white;
  border: 2px solid white;
  font-size: 19px;
  border-radius: 20px;
  padding: 5px;
  width: 120px;
  margin-bottom: 20px;
}

.select:hover {
  color: rgb(176, 175, 175);
  border: 2px solid rgb(176, 175, 175);
}

.cat-images-title {
  color: white;
}

.cat-images-subtitle {
  color: rgba(255, 255, 255, 0.753);
  font-size: 27px;
  margin-bottom: 50px;
}

 .cats-container {
  display: flex;
  flex-direction: row;
  width: 870px;
  overflow-y: scroll;
  gap: 35px;
  align-items: center;
  height: 700px;
  padding-left: 20px;
  padding-right: 20px;
}

.cat-image-box {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  border-radius: 4px;
}

.insta-container {
  display: flex;
  flex-direction: column;
  width: 260px;
  height: 470px;
  border-radius: 18px;
  align-items: center;
  gap: 10px;
  background-color: rgba(17, 17, 17, 0.862);
  margin-bottom: 50px;
  padding-top: 20px;
  padding-bottom: 10px;
  border: 2px solid rgba(255, 255, 255, 0.502);
  transition: 0.3s;
}

.insta-container:hover {
  transform: scale(1.1);
}

.username-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: baseline;
  gap: 10px;
  font-size: 12px;
  width: 100%;
}

.username-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.more {
  color: white;
  font-size: 18px;
  display: flex;
  margin-right: 15px;
}

.username {
  color: rgb(255, 255, 255);
  font-weight: 6s00;
  font-size: 15px;
}

.user-img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-left: 20px;
}

.location {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 3px;
}

.user-location {
  color: rgba(255, 255, 255, 0.658);
}

.post {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.description {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.icons {
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: space-between;
  width: 100%;
  padding-right: 15px;
  align-items: center;
}

.message-icon {
  width: 90px;
  height: 40px;
  margin-left: 20px;
}

.likes-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  gap: 7px;
}

.users-img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-left: 20px;
}

.likes {
  color: white;
  font-size: 13px;
}

.caption {
  color: rgba(255, 255, 255, 0.908);
  font-size: 12px;
  width: 95%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: baseline;
}

.send {
  transform: rotate(-15deg);
}

.icons-box {
  width: 90%;
  margin-left: 20px;
  gap: 10px;
  display: flex;
}

.users {
  color: white;
  font-size: 13px;
  font-weight: bold;
  margin-left: 10px;
}

.username-small {
  color: white;
  font-size: 12px;
}

.caption-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
}

.view {
  display: flex;
  width: 90%;
  font-size: 10px;
  color: rgba(255, 255, 255, 0.786);
  border-bottom: 1px solid rgba(255, 255, 255, 0.903);
  padding-bottom: 5px;
}

.comment {
  display: flex;
  color: rgba(255, 255, 255, 0.801);
  font-size: 11px;
  width: 100%;
  margin-left: 30px;
}

.share-icon {
  width: 27px;
  height: 23px;
  color: white;
}

@media (max-width: 500px) {
  .cat-images-title {
    position: relative;
    font-size: 38px;
  }

  .cat-images-subtitle {
    font-size: 20px;
    margin-bottom: 100px;
    margin-bottom: 50px;
  }

  .cats-container {
    width: 300px;
    height: auto;
    margin: 20px 0 0 20px;
  }

  .insta-container {
    height: 500px;
    width: 290px;
  }

  .post {
    width: 280px;
  }
}